@page "/video/create";


<div class="create-section">
    @if (IsBaseInfromationSectionVisible)
    {
        <Animation Effect="@Effect.FadeOutLeft"
                   Speed="@Speed.Fast"
                   Delay="@Delay.None"
                   IterationCount="1"
                   Enabled="@IsBaseInfromationCreated"
                   OnAnimationEnd="@HideBaseInfromation">

            <CreateBaseVideoInfromation OnVideoCreated="HandleBaseVideoInfromationCreated">


            </CreateBaseVideoInfromation>
        </Animation>
    }

    @if (IsBaseInfromationCreated)
    {
        <Animation Effect="@Effect.FadeInRight"
                   Speed="@Speed.Fast"
                   Delay="@Delay.None"
                   IterationCount="1"
                   Enabled="@IsBaseInfromationCreated">
            <UploadImagesForVideo VideoId="@createdVideoId">

            </UploadImagesForVideo>
        </Animation>
    }
</div>
