@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VideoStreamingShop.MVC.ViewModels.PaginationViewModel<VideoStreamingShop.MVC.ViewModels.Video.VideoViewModel>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/videopage.js"></script>
<link rel="stylesheet" href="~/css/test.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/spoiler.css" />

<style>
    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    div.row > div {
        padding-bottom: 10px;
    }
</style>
<div class="row" style="padding-top:20px;">
    @foreach (var video in Model.Data)
    {
        <div class="col-md-4">
            <div class="card border border-dark">
                <img class="card-img-top" src="@Url.Content(@video.ImageUri)" />
                <h4 style="position:absolute; color:azure; left:10px">@video.AgeRate</h4>
                <div class="card-body">
                    <h6 class="card-title">@video.Name</h6>
                    <p class="card-text text">@video.Description</p>
                    <a asp-action="Detail" asp-controller="Video" asp-route-id="@video.Id" asp- class="btn btn-danger">Watch now</a>
                </div>
            </div>
        </div>
    }
</div>
